<ion-header>
  <div class="header-wrapper">
    <div class="header">
      <h1>Appetite</h1>
      <div class="img-container">
        <img src="./assets/logo.png" alt="">
      </div>
    </div>
  </div>
</ion-header>
<ion-content>
  <div class="wrapper-wrapper">
    <div *ngFor="let x of dbposts" class="post-wrapper">
      <div class="post-container">
        <img [src]="x.image" alt="">
        <div class="post-title">
          <h1>{{x.title}}</h1>
        </div>
      </div>
      <div class="post-right">
        <p>
          {{x.description}}
        </p>
      </div>
    </div>
  </div>

</ion-content>