<!--user's profile page -->
<ion-content>
  <ion-header>
    <div class="header-wrapper">
      <div class="header">
        <div class="welcome-message">
          <h1 class="hello">Hello,</h1>
          <h1 class="name" *ngIf="username !== null">{{username.username}}</h1>
        </div>
        <div class="img-container">
          <img src="./assets/logo.png" alt="">
        </div>
      </div>
    </div>
  </ion-header>
  <div class="profile-summary">
    <div class="summary">
      <h1>Profile Summary:</h1>
    </div>
    <div class="analytics">
      <div class="top">
        <h2 *ngIf="details !== null">{{details.likes_received}}</h2>
        <p>Likes Received</p>
      </div>
      <div class="bottom">
        <div>
          <h2 *ngIf="details !== null">{{details.liked_posts}}</h2>
          <p>Likes</p>
        </div>
        <div>
          <h2 *ngIf="details !== null">{{details.number_of_posts}}</h2>
          <p>Posts</p>
        </div>
      </div>
    </div>

  </div>
  <div class="profile-notes">
    <div class="notes">
      <h1>Profile Notes:</h1>
    </div>
    <div class="user-notes">
      <div class="user-input">
        <p *ngIf="(details) !== null" spellcheck="false" contentEditable="true" id="to_change">
          {{details.profile_notes}}
        </p>
      </div>
    </div>

  </div>
  <div class="button-container">
    <ion-button color="" (click)="getUpdates()">Save Changes</ion-button>
  </div>
</ion-content>