

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="posts">
        <ion-icon class="icon" name="home-outline"></ion-icon>
      </ion-tab-button>
  
      <ion-tab-button tab="favourite">
        <ion-icon class="icon" name="heart-outline"></ion-icon>
      </ion-tab-button>
  
      <ion-tab-button tab="add">
        <ion-icon class="icon" name="add-circle-outline"></ion-icon>
      </ion-tab-button>
  
      <ion-tab-button tab="profile">
        <ion-icon class="icon" name="settings-outline"></ion-icon>    
    </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
 

