<ion-header>
  <div class="header-wrapper">
    <div class="header">
      <h1>Appetite</h1>
      <div class="img-container">
        <img src="./assets/logo.png" alt="">
      </div>
    </div>
  </div>
</ion-header>
<ion-content>
  <div *ngFor="let x of dbposts" class="post-wrapper">
    <div class="post-container">
      <img [src]="x.image" alt="">
      <div class="post-title">
        <h1>{{x.title}}</h1>
        <ion-icon name="heart" (click)="addLike(x.post_id)"></ion-icon>
      </div>
    </div>
  </div>

</ion-content>