<ion-content>
  <div class="homeWrap">
    <div class="test">
    </div>
    <div class="column">
      <div class="ready">
        Ready To Cook With Confidence?
      </div>
      <ion-button color="" routerLink="/register">
        Get Started
      </ion-button>
      <div class="already">
        <a routerLink="/login">Already have an account?</a>
      </div>
      <div>

      </div>
    </div>
    <div class="bottom">
      <img src="./assets/donut.png"alt="Donut">
      <img src="./assets/circle.png" alt="circle">
      <img src="./assets/circle.png" alt="circle">
    </div>
  </div>
</ion-content>