<ion-content>
  <ion-header>
    <div class="header-wrapper">
      <div class="header">
        <h1>Appetite</h1>
        <div class="img-container">
          <img src="./assets/logo.png" alt="">
        </div>
      </div>
    </div>
  </ion-header>
  <div class="image-wrapper">
    <div class="upload-image">
      <img [src]="convertedimage" alt="">
    </div>
    <ion-button color="success" (click)="takePicture()">Add Photo</ion-button>
    <p class="add-title"> Add Title </p>
  </div>
</ion-content>