<ion-content>
  <ion-header>
    <div class="header-wrapper">
      <div class="header">
        <h1>Appetite</h1>
        <div class="img-container">
          <img src="./assets/logo.png" alt="">
        </div>
      </div>
    </div>
  </ion-header>
  <div class="image-wrapper">
    <div class="upload-image">
      <img [src]="convertedimage" alt="">
    </div>
    <ion-button color="success" (click)="takePicture()">Add Photo</ion-button>
    <p class="add-title" contentEditable="true" id="to_title"> Add Title </p>
  </div>

  <div class="content-wrapper">
    <div class="desc-wrapper">
      <div class="desc-title">
        <h1>Description:</h1>
      </div>
      <div class="desc-input">
        <p contentEditable="true" id="to_desc">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam dolorum quaerat rerum. Labore ea soluta
          consequatur perspiciatis fugiat enim mollitia sapiente tenetur minus ipsa ad placeat, adipisci unde, ex
          nesciunt?
        </p>
      </div>
    </div>
    <ion-button color="success" (click)="submitAddition()">Submit</ion-button>
  </div>


</ion-content>